@page "/course/audit"
@layout SidebarLayout

<PageTitle>Course - Audit</PageTitle>

<ilw-content>
    <h1>Audit</h1>
    <p>Note that this is just people making changes manually to the item. This audit trail does not include people manually loading JSON files or updating information via an API. For more details on what exactly was changed, please contact IT Partners @@ Education.</p>

    @if (LogItems != null)
    {
        <table>
            <tr>
                <th scope="col">Date Changed</th>
                <th scope="col">Net ID</th>
                <th scope="col">Field Type</th>
                <th scope="col">Raw Data</th>
            </tr>
            @foreach (var log in LogItems)
            {
                <tr>
                    <td>@log.DateCreated</td>
                    <td>@log.ChangedByNetId</td>
                    <td>@log.FieldType</td>
                    <td><details><summary>Notes</summary>@log.Data</details></td>
                </tr>
            }
        </table>
    }
</ilw-content>

@if (CourseItem != null)
{
    <ViewLink Title="Course" Url="@CourseItem.UrlFull"></ViewLink>
}