@page "/course/technical"
@layout SidebarLayout

<PageTitle>Courses - Technical Information</PageTitle>

<ilw-content>
    <h1>Technical Information</h1>
</ilw-content>
@if (CourseItem != null)
{
    <StatusOnSite @bind-Value="CourseItem.IsActive"></StatusOnSite>
    <MediumText Title="URL Fragment" FieldItems="FieldItems" @bind-Value="CourseItem.Fragment"></MediumText>
    <ilw-content>
        <ul class="ilw-buttons" id="save-group">
            <li>
                <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
            </li>
            <li>
                <ViewLink Title="Course" Url="@CourseItem.UrlFull"></ViewLink>
            </li>
            @if (!string.IsNullOrWhiteSpace(QuickLinkUrl))
            {
                <li>
                    <a class="ilw-button" href="@QuickLinkUrl">Back</a>
                </li>
            }
        </ul>
    </ilw-content>
    <ilw-content><h2>Information to Copy</h2></ilw-content>
    <IdList Title="Id" FieldItems="FieldItems" Id="@CourseItem.Id"></IdList>
    <IdList Title="Edit Link" FieldItems="FieldItems" Id="@CourseItem.EditLink"></IdList>
    <DeleteNotice DeleteClicked="Delete" ItemTitle="@CourseItem.Title"></DeleteNotice>
}
