@page "/"

<PageTitle>Home</PageTitle>

<ilw-content width="page">
    <h1>Welcome to the IT Partners Program/Course Repository</h1>
    <p>This tool is used to edit programs, credentials, plans of study, requirement sets, courses, and sections. This information can be accessed via an API to search based on text and category. More information about this project.</p>
    <p>Note that this is used for external marketing and websites, and should not take the place of a requirement checklist for a student (like DARS).</p>
</ilw-content>
@if (string.IsNullOrWhiteSpace(SelectedSource) && Sources != null)
{
    <ilw-content width="page">
        <ilw-grid innerwidth="300px" padding="35px 0">
            @if (NumberOfSources > 1)
            {
                <ilw-card>
                    <h3 id="sourcelabel-initial">Choose a Source</h3>
                    <p>You have access to multiple sources, so you must choose a source before editing programs, credentials, etc.</p>
                    <div slot="footer">
                    <select aria-labelledby="sourcelabel-initial" @onchange="(ChangeEventArgs e) => ChangeSource(e)">
                        <option value=""></option>
                        @foreach (var source in Sources)
                        {
                            <option value="@source.Key">@source.Value</option>
                        }
                    </select>
                    </div>
                </ilw-card>
            }
            <ilw-card>
                <h3>Create a Source</h3>
                <p>A source is a collection of programs, credentials, and courses on a web page. This is an artificial designation that may be by college (College of Education), department (Computer Science), or a subsection of a college (Gies Online Courses).</p>
                <div slot="footer"><a href="/configuration/sources" class="ilw-button">Create a New Source</a></div>
            </ilw-card>
            <ilw-card>
                <h3>Access Test Source</h3>
                <p>We have a test source that you can add yourself to. This will allow you to experiment with adding, modifying, and deleting programs, courses, etc.</p>
                <div slot="footer"><a href="/configuration/testing" class="ilw-button">Access Test Source</a></div>
            </ilw-card>
        </ilw-grid>
    </ilw-content>
}
else if (Sources != null)
{
    <ilw-content width="page">
        <h2>Active Source: <em>@SelectedSourceTitle</em></h2>
        <ilw-grid innerwidth="300px" padding="35px 0">
            @if (UsePrograms)
            {
                <ilw-card>
                    <h3>Programs</h3>
                    <p>Programs are a group of credentials grouped together by a common thread.</p>
                    <div slot="footer"><a href="/programs" class="ilw-button">Edit Programs</a></div>
                </ilw-card>
            }
            @if (UseCredentials)
            {
                <ilw-card>
                    <h3>Credentials</h3>
                    <p>Credentials are certifications issued by a university that verifies an individual's academic achievement. </p>
                    <div slot="footer"><a href="/credentials" class="ilw-button">Edit Credentials</a></div>
                </ilw-card>
            }
            @if (UseRequirementSets)
            {
                <ilw-card>
                    <h3>Requirement Sets</h3>
                    <p>Requirement sets determine which courses are required to get a credential. This is also known as a plan of study.</p>
                    <div slot="footer"><a href="/requirementsets" class="ilw-button">Edit Requirement Sets</a></div>
                </ilw-card>
            }
            @if (UseCourses)
            {
                <ilw-card>
                    <h3>Courses and Sections</h3>
                    <p>Courses and sections are individual classes that are taught. These may have individual sections.</p>
                    <div slot="footer"><a href="/courses" class="ilw-button">Edit Courses</a></div>
                </ilw-card>
            }
        <ilw-card>
            <h3>Configuration</h3>
            <p>The configuration section allows you to edit the back-end of your source.</p>
            <div slot="footer"><a href="/configuration/sources" class="ilw-button">Edit Configuration</a></div>
        </ilw-card>
        @if (NumberOfSources > 1)
        {
            <ilw-card>
                <h3 id="sourcelabel">Choose another Source</h3>
                <p>You have access to multiple sources, so you may choose a different source here.</p>
                <div slot="footer">
                <select aria-labelledby="sourcelabel" @onchange="(ChangeEventArgs e) => ChangeSource(e)">
                    @foreach (var source in Sources)
                    {
                        <option value="@source.Key" selected="@(source.Key == SelectedSource)">@source.Value</option>
                    }
                </select>
                </div>
            </ilw-card>
        }
    </ilw-grid>
    </ilw-content>

}
