@page "/credential/technical"
@layout SidebarLayout

<PageTitle>Credentials - Technical Information</PageTitle>

<ilw-content>
    <h1>Technical Information</h1>
</ilw-content>

@if (CredentialItem != null) {
    <StatusOnSite @bind-Value="CredentialItem.IsActive"></StatusOnSite>
    <MediumText Title="URL Fragment" FieldItems="FieldItems" @bind-Value="CredentialItem.Fragment"></MediumText>
    <ul class="ilw-buttons" id="save-group">
        <li>
            <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
        </li>
        <li>
            <ViewLink Title="Credential" Url="@CredentialItem.UrlFull"></ViewLink>
        </li>
        @if (UsePrograms)
        {
            <li>
                <a class="ilw-button" @onclick="BackToProgram">Back</a>
            </li>
        }
    </ul>
    <div class="information-to-copy">
        <ilw-content class="header"><h2>Information to Copy</h2></ilw-content>
        <IdList Title="Id" FieldItems="FieldItems" Id="@CredentialItem.Id"></IdList>
        <IdList Title="Edit Link" FieldItems="FieldItems" Id="@CredentialItem.EditLink"></IdList>
    </div>
    @if (UsePrograms)
    {
        <ilw-content>
        <h2>Transfer Credential To Another Program</h2>
        <p>This is currently under program <em>@ProgramTitle</em>. You can move it to another program if you want. Note that if this is the only credential in the program, this will delete the program.</p>
        </ilw-content>
        <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@ProgramList" ActionButtonTitle="Transfer to This Program" ItemTitle="Program" EditClicked="ChooseProgram" SearchClicked="GetPrograms"></SearchGenericItem>
    }

    <DeleteNotice DeleteClicked="Delete" ItemTitle="@CredentialItem.Title"></DeleteNotice>
}

