@page "/requirementset/courses"
@layout SidebarLayout

<PageTitle>Requirement Set - Courses</PageTitle>

<ilw-content>
    <h1>Courses</h1>
    <p>A requirement set may contain courses. Courses are automatically sorted in alphabetical order. Courses may have an optional description assigned to them which can clarify information (need to take a specific section, requires special approval, etc.). </p>
</ilw-content>

@if (_useCourses.HasValue && _useCourses.Value)
{
    @if (RequirementSetItem != null && CourseRequirements != null)
    {
        <ilw-content>
            @foreach (var course in CourseRequirements.Select((v, i) => (v, i)))
            {
                <div class="requirement-box">
                    <p><a @onclick="() => EditCourse(course.v.CourseId)">@course.v.Title</a></p>
                    <div class="note">
                        <label for="note-@course.i">Note: </label>
                        <input id="note-@course.i" class="ils-input-long" type="text" @bind="@course.v.Description">
                    </div>
                    <div class="button-group">
                        <button class="ilw-button" @onclick="() => RemoveCourse(course.i)">Remove</button>
                    </div>
                </div>
            }
        </ilw-content>
    }

    <div>
        <ilw-content>
            <h2>Add Courses</h2>
        </ilw-content>
        <div>
            <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@CourseList" ActionButtonTitle="Add to Requirement Set" AddButtonTitle="Create New Course" ItemTitle="Course" EditClicked="ChooseCourse" SearchClicked="GetCourses" AddClicked="CreateNewCourse"></SearchGenericItem>
        </div>
    </div>

    <ilw-content>
        <ul class="ilw-buttons" id="save-group">
            <li>
                <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
            </li>
            @if (!string.IsNullOrWhiteSpace(QuickLinkUrl))
            {
                <li>
                    <a class="ilw-button" href="@QuickLinkUrl">Back</a>
                </li>
            }
        </ul>
    </ilw-content>
} else if (_useCourses.HasValue)
{
    <ilw-content>
        <p><em>To connect requirement sets to courses, <a href="/configuration/fieldsused/courses">courses must be enabled</a>.</em></p>
    </ilw-content>
}
