@page "/requirementset/technical"
@layout SidebarLayout

<PageTitle>Requirement Set - Technical Information</PageTitle>

<ilw-content>
    <h1>Technical Information</h1>
</ilw-content>
@if (RequirementSetItem != null && CredentialsUsingRequirementSet != null)
{
    <StatusOnSite @bind-Value="RequirementSetItem.IsActive"></StatusOnSite>
    <ilw-content>
        <h2>Credentials using this Requirement Set</h2>
        <ul>
            @foreach (var cred in CredentialsUsingRequirementSet)
            {
                <li>@cred.Title</li>
            }
        </ul>
    </ilw-content>
    @if (CredentialsUsingRequirementSet.Count() == 1)
    {
        <Toggle Title="Is This Shared?" FieldItems="FieldItems" @bind-Value="RequirementSetItem.IsReused"></Toggle>
    } else {
        <ilw-content><p>Requirement Sets must be used by one and only one credential before making it private.</p></ilw-content>
    }
    <ilw-content>
        <ul class="ilw-buttons" id="save-group">
            <li>
                <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
            </li>
            @if (!string.IsNullOrWhiteSpace(QuickLinkUrl))
            {
                <li>
                    <a class="ilw-button" href="@QuickLinkUrl">Back</a>
                </li>
            }
        </ul>
    </ilw-content>


    <div class="information-to-copy">
        <ilw-content class="header"><h2>Information to Copy</h2></ilw-content>
        <IdList Title="Id" FieldItems="FieldItems" Id="@RequirementSetItem.Id"></IdList>
        <IdList Title="Edit Link" FieldItems="FieldItems" Id="@RequirementSetItem.EditLink"></IdList>
    </div>
    @if (CredentialsUsingRequirementSet.Count() == 0)
    {
        <DeleteNotice DeleteClicked="Delete" ItemTitle="@RequirementSetItem.InternalTitle"></DeleteNotice>
    } else {
        <ilw-content><p>Requirement Sets used by a credential cannot be deleted.</p></ilw-content>
    }
}
