@page "/program/link"
@layout SidebarLayout

<PageTitle>Programs - Link and Image</PageTitle>

<ilw-content>
    <h1>Link and Image</h1>
</ilw-content>

@if (ProgramItem != null)
{
    <UrlText Title="Link URL" FieldItems="FieldItems" @bind-Value="ProgramItem.Url"></UrlText>
    <UrlText Title="Alternate Link URL" FieldItems="FieldItems" @bind-Value="ProgramItem.AlternateUrl"></UrlText>
    <MediumText Title="Alternate Link Text" FieldItems="FieldItems" @bind-Value="ProgramItem.AlternateUrlTitle"></MediumText>
    <div class="image-box">
    <ImageControl Title="Program Image" @ref="@_imageProgramImage" FieldItems="FieldItems" @bind-Value="ProgramItem.SummaryImageUrl" ItemId="@ProgramItem.Id"></ImageControl>
    <MediumText Title="Program Image Alternative Text" FieldItems="FieldItems" @bind-Value="ProgramItem.SummaryImageAltText"></MediumText>
    </div>
    <div class="image-box">
    <ImageControl Title="Detail Program Image" @ref="@_imageDetailProgramImage" FieldItems="FieldItems" @bind-Value="ProgramItem.DetailImageUrl" ItemId="@ProgramItem.Id"></ImageControl>
    <MediumText Title="Detail Program Image Alternative Text" FieldItems="FieldItems" @bind-Value="ProgramItem.DetailImageAltText"></MediumText>
    </div>
    <MediumText Title="Video URL" FieldItems="FieldItems" @bind-Value="ProgramItem.VideoUrl"></MediumText>
    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
    <ViewLink Title="Program" Url="@ProgramItem.UrlFull"></ViewLink>
}

